---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astronaut / About</title>
    </head>
    <body>
        <h1>Astronaut</h1>
        <h2>About</h2>
        <p>What do we know about astronauts?</p>
        <p>
            The history of astronauts began with Yuri Gagarin, who became the first human to journey into outer space on April 12, 1961, aboard Vostok 1. This
            milestone was followed by the United States' Apollo missions, which culminated in Neil Armstrong and Buzz Aldrin landing on the moon on July 20,
            1969. Since then, astronauts from various countries have participated in numerous space missions, contributing to our understanding of space and
            advancing human space exploration.
        </p>
    </body>
</html>
