---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const posts = await Astro.glob('./posts/*.md');
const pageTitle = 'Our Story';
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <article>
            <p>
                Welcome to the Astronaut blog! Here, you'll find the latest news and updates on space exploration, astronaut training, and more. Check back
                often for new posts.
            </p>
        </article>
        <aside>
            <ul>
                {
                    posts.map((post) => (
                        <li>
                            <BlogPost url={post.url} title={post.frontmatter.title} />
                        </li>
                    ))
                }
            </ul>
        </aside>
    </section>
</BaseLayout>
<style>
    section {
        aside {
            background-color: #f0f0f0;
            padding: 1rem;
        }
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        gap: 2rem;
    }
</style>
