---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Our Story';
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <article>
            <p>
                Welcome to the Astronaut blog! Here, you'll find the latest news and updates on space exploration, astronaut training, and more. Check back
                often for new posts.
            </p>
        </article>
        <aside>
            <ul>
                <li><a href="/posts/post-1">Post 1</a></li>
                <li><a href="/posts/post-2">Post 2</a></li>
                <li><a href="/posts/post-3">Post 3</a></li>
            </ul>
        </aside>
    </section>
</BaseLayout>
<style>
    section {
        aside {
            background-color: #f0f0f0;
            padding: 1rem;
        }
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        gap: 2rem;
    }
</style>
