---
import Social from './Social.astro';
const socialise = [
    { platform: 'twitter', username: 'ltdn' },
    { platform: 'github', username: 'nkoane' },
    { platform: 'instagram', username: 'ltdn' },
];
---

<footer>
    {
        socialise.map(({ platform, username }) => (
            <p>
                <Social platform={platform} username={username} />
            </p>
        ))
    }
</footer>
