---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
const pageTitle = 'Astronauts';
---

<header>
    <h1>{pageTitle}</h1>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>
