---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import { slide } from 'astro:transitions';

const { pageTitle } = Astro.props;
---

<html lang="en" transition:animate={slide({ delay: '5s' })}>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="images/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Astronauts {pageTitle ? '+ ' + pageTitle : ''}</title>
        <ViewTransitions />
    </head>
    <body>
        <main id="app">
            <Header />
            <h2>{pageTitle}</h2>
            <section>
                <slot />
            </section>
            <Footer />
        </main>
        <script>
            import '../scripts/menu.js';
        </script>
    </body>
</html>
